.accounts_main{
    width: 75%;


}
.post_container{
    width: 85%;
}

.post_container input {
    width: 85%;
    border: none;
    border-bottom: 1px solid blue;
    border-radius: 0%;
    margin: auto;
 
 }
 
 .post_container input:focus {
 
    box-shadow: none;
 
 }

 .post_container textarea {
    width: 85%;
   
    border-bottom: 1px solid blue;
    border-radius: 0%;
    margin: auto;
    height: 30vh;
 
 }
 
 .post_container textarea:focus {
 
    box-shadow: none;
 
 }
 