.custom-navbar {
    background-color: #3498db;
  }
  
  .custom-navbar-brand {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .custom-navbar-toggler-icon {
    color: #fff;
  }
  
  .custom-navbar-nav .custom-nav-link {
    color: #fff;
  }
  
  .custom-nav-link:hover {
    color: #f8f9fa;
  }
  
  .custom-btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  .custom-btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  