.card_main{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* postcard.css */
.custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #555;
  }
  
  .text-muted {
    color: #888;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .card-footer h5 {
    margin: 0;
    font-weight: bold;
  }
  
  span {
    font-weight: bold;
    color: #007bff; /* Adjust the color according to your theme */
  }
  